/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* ====================
    Global style
=================== */

:root {
    --primary-colo: #3A3A3A;
}


* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main-contaier, nav {
    padding: 50px 100px;
}

/* flexibel widht */
.flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hlaf-width {
    width: 50%;
}

/* .hlaf-width img {
    width: 100%;
} */

/* ===================
    navber style
================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    color: var(--primary-colo);
}

.nave-bar {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nave-bar li {
    margin: 15px;
}

.nave-bar li a {
    color: var(--primary-colo);
    font-size: 16px;
}

.nave-bar li a:hover {
    color: gray;
}

/* =========================
    Top section styles
======================= */

.top-section {
    margin-top: 70px;
    position: relative;
    overflow: hidden;
}

.top-section img {
    animation: camera-animation 4s infinite;
}

@keyframes camera-animation {
    0% {
        transform: scale(.9) rotate(-2deg);
    }

    40%, 60% {
        transform: scale(1.09) rotate(15deg);
    }

    100% {
        transform: scale(.9) rotate(-2deg);
    }
}

.top-section-title {
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    color: var(--primary-colo);
}

.top-section p {
    color: var(--primary-colo);
    font-size: 16px;
    margin-top: 16px;
}

.text-continer {
    padding-right: 100px;
}

.preebook-btn {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 40px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #ffa500, orangered);
    color: white;
}

.fa-arrow-right {
    margin-left: 15px;
    transition: margin-left 400ms;
}

.preebook-btn:hover .fa-arrow-right {
    margin-left: 50px;
}

.preebook-btn:hover {
    background-image: linear-gradient(45deg, #e49401, #e03c00);
}

/* ==========================
    Collection section style
========================== */
.collection-section {
    margin-top: 100px;
}

.collection-section .title {
    color: var(--primary-colo);
    text-align: center;
    margin-bottom: 50px;
}

/* card start */
.card-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.card {
    width: 329px;
    height: 476px;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
}

.card-title {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}

.card-price {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 3px;
}

.fa-star, .fa-star-half-alt {
    color: #FB8200;
    font-size: 11px;
}

.rating p {
    margin-left: 10px;
    color: #5E6366;
    width: 700;
    font-size: 14px;
}

.card-text {
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}

.see-more-btn {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    transition: color 400ms;
}

.see-more-btn:hover {
    color: #8b2048;
}

/* cards responsive propertys */

@media screen and (max-width: 1300px) {
    .card-row {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 900px) {

    .card-row {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}


/* card end */

/* =====================
    footer
====================== */


footer {
    background-color: #0A0826;
    height: 100px;
    padding: 80px;
    text-align: center;
}

footer h3 {
    font-size: 24;
    font-weight: 700;
    color: white;
}

footer p {
    color: #D9DBE1;
    margin-top: 3px;
    font-size: 14px;
}

footer .footer-icons i {
    color: white;
    font-size: 17px;
    margin: 17px 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #ffffff15;
    border-radius: 50%;
    transition: background-color 300ms;
}

footer .footer-icons i:hover {
    background-color: #ffffff45;
}




@media screen and (max-width: 970px) {
    .main-contaier {
        padding: 50px 30px;
    }

    /* nav */
    nav {
        flex-direction: column;
        text-align: center;
    }

    .nave-bar {
        display: block;
    }

    .nave-bar {
        display: block;
        text-align: center;
        padding: 14px 16px;
    }

    /* top section */
    .flexible {
        display: block;
    }

    .top-section img {
        width: 70%;
        margin-top: 50px;
    }

    .text-continer {
        padding-right: 0;
    }

    .top-section {
        padding-right: 0;
        text-align: center;
    }

}