/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

/* ====================
    Global style
=================== */

:root {
    --primary-colo: #3A3A3A;
}


* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 100px;
}

/* ===================
    navber style
================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    color: var(--primary-colo);
}

.nave-bar {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nave-bar li {
    margin: 15px;
}

.nave-bar li a {
    color: var(--primary-colo);
    font-size: 16px;
}

.nave-bar li a:hover {
    color: gray;
}


@media screen and (max-width: 930px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .nave-bar {
        display: block;
    }

    .nave-bar {
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
}